/**
 * Custom Properties
 * aka CSS variables.
 *
 * @link: https://developer.mozilla.org/en-US/docs/Web/CSS/--*
 **/

/* Fontsize */

:root {
    /* Container */
    --content-width: 87.5em;
    --content-width-sm: 73.125em;
    /* Typography */
    --global-font-family: 'Roboto', sans-serif;
    --highlight-font-family: 'Roboto', sans-serif;
    --global-font-size: 1em;
    --global-font-line-height: 1.5;
    --global-box-shadow: 10px 10px 50px rgb(0 0 0 / 5%);
    /* Fontsize */
    --font-size-small: 0.75em;
    --font-size-normal: 0.875em;
    --font-size-h1: 4.209em;
    --font-size-h2: 3.157em;
    --font-size-h3: 2.369em;
    --font-size-h4: 1.777em;
    --font-size-h5: 1.333em;
    --font-size-h6: 1em;
    /* Line-Height */
    --font-line-height-p: 1.5;
    --font-line-height-h1: 1.2;
    --font-line-height-h2: 1.2;
    --font-line-height-h3: 1.2;
    --font-line-height-h4: 1.2;
    --font-line-height-h5: 1.2;
    --font-line-height-h6: 1.2;
    /* Font-Weight */
    --font-weight-body: normal;
    --font-weight-h1: 400;
    --font-weight-h2: 400;
    --font-weight-h3: 400;
    --font-weight-h4: 400;
    --font-weight-h5: 400;
    --font-weight-h6: 400;
    /* font-weight*/
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semi-bold: 600;
    --font-weight-bold: 700;
    --font-weight-extra-bold: 800;
    /* Letter spacing */
    --font-letter-spacing-body: inherit;
    --font-letter-spacing-link: unset;
    --font-letter-spacing-h1: -0.02em;
    --font-letter-spacing-h2: -0.02em;
    --font-letter-spacing-h3: -0.02em;
    --font-letter-spacing-h4: -0.02em;
    --font-letter-spacing-h5: -0.02em;
    --font-letter-spacing-h6: -0.02em;
    --letter-spacing-one: 0.063em;
    --letter-spacing-two: 0.125em;
    --letter-spacing-three: 0.188em;
    --letter-spacing-four: 0.25em;
    /* border-radius */
    --border-radius: 0.1875em;
    --border-radius-box: 0.1875em;
    --border-radius-ten: 0.1875em;
    --border-radius-three: 0.1875em;
    /* Colors */
    --iq-body-bg: #141414;
    --iq-bg1: #191919;
    --iq-bg-not: #0D0C0C;
    --iq-body-text: #D1D0CF;
    --iq-body-border: #393750;
    --iq-white-light-color: #404043;
    --iq-title-text: #fff;
    --input-bg: #111111;
    --iq-border-dark: #101010;
    --iq-border-light: #262525;
    --iq-tag-bg: #262525;
    --iq-sidebar-boder-color: #1f1f1f;
    --cart-text-color: #898989;
    --card-box-bg: #121212;
    --card-box-style: #1a1a1a;
    --iq-placeholder-color: #d9d5d5;
    --iq-thumb-slider-color: #181616;
    /* Custom editor colors */
    --iq-primary: #e50914;
    --iq-primary-hover: #bf000a;
    --iq-secondary: #6c757d;
    --iq-white-color: #fff;
    --iq-black: #000;
    --iq-warning-color: #ff0000;
    --iq-skelation-bg: #0F0F0F;
    --iq-ratting: #ecba12;
    --iq-orange: orange;
    --iq-green: green;
    /* gredient color */
    --iq-form-gradient-color: rgba(11, 1, 2, 0);
    --iq-to-gradient-color: rgba(255, 55, 65, 0.3);
    --iq-rgb-0: 0, 0, 0;
    --iq-rgb-20: 20, 20, 20;
    --iq-rgb-25: 25, 25, 25;
    --iq-rgb-41: 41, 41, 41;
    --iq-rgb-51: 51, 51, 51;
    --iq-rgb-72: 72, 72, 72;
    --iq-rgb-255: 255, 255, 255;
    --iq-rgb-light: 80, 100, 44;
    --iq-rgb-border: 31, 31, 31;
    --iq-rgb-18: 19, 18, 18;
    --primary-bg-gradiant-lt-rt: transparent linear-gradient(270deg, var(--iq-form-gradient-color) 0%, var(--iq-to-gradient-color) 100%);
    --primary-bg-gradiant-tp-bt: linear-gradient(to top, var(--iq-form-gradient-color) 0%, var(--iq-to-gradient-color) 85%);
    --backgorund-overlay: rgba(var(--iq-rgb-0), 0.8);
    --dark-gradiant-tp-bt: linear-gradient(180deg, var(--iq-black) 0%, rgba(var(--iq-rgb-0), 0) 97%), var(--iq-bg1);
    --dark-gradiant-bt-tp: linear-gradient(0deg, var(--iq-black) 0%, rgba(var(--iq-rgb-0), 0) 100%);
    --main-banner-gradiant: linear-gradient(90deg, rgba(var(--iq-rgb-0), 0.9) 0%, rgba(var(--iq-rgb-20), 0.9) 15%, rgba(var(--iq-rgb-light), 0) 100%);
    --show-banner-gradiant: linear-gradient(90deg, rgba(var(--iq-rgb-0), 1) 0%, rgba(var(--iq-rgb-20), 1) 35%, rgba(var(--iq-rgb-light), 0) 100%);
    --iq-gredient-bottom-top: linear-gradient(to bottom, rgba(var(--iq-rgb-51), 0), rgba(var(--iq-rgb-0), 0.8) 70%, var(--iq-black) 100%);
    --gradiant-mid-side: linear-gradient(90.06deg, rgba(var(--iq-rgb-20), 0) 1.66%, var(--iq-bg1) 43.64%, rgba(var(--iq-rgb-20), 0) 89.28%);
    --skelation-bg-color: linear-gradient(90deg, rgba(var(--iq-rgb-20), 0) 0, rgba(var(--iq-rgb-20), 0.2) 20%, rgba(var(--iq-rgb-20), 0.5) 60%, rgba(var(--iq-rgb-20), 0));
    --skelation-bg-color-new: linear-gradient(90deg, rgba(var(--iq-rgb-0), 0) 0, rgba(var(--iq-rgb-0), 0.2) 20%, rgba(var(--iq-rgb-0), 0.5) 60%, rgba(var(--iq-rgb-0), 0));
    --iq-gredient-widget-bg: linear-gradient(180deg, rgb(var(--iq-rgb-25)) 0%, rgb(var(--iq-rgb-25)) 10%, rgba(var(--iq-rgb-light), 0) 100%);
    --iq-border-gredient: linear-gradient(to right, rgba(var(--iq-rgb-border), 1), rgba(var(--iq-rgb-border), 0.6), rgba(var(--iq-rgb-border), 0));
    --iq-gredient-border-mid-tb: linear-gradient(to top, rgba(var(--iq-rgb-border), 0), rgba(var(--iq-rgb-border), 0.6), rgba(var(--iq-rgb-border), 0));
    --iq-gredient-border-mid-lr: linear-gradient(to left, rgba(var(--iq-rgb-border), 0), rgba(var(--iq-rgb-border), 0.6), rgba(var(--iq-rgb-border), 0));
    --iq-card-gredient: linear-gradient(90deg, rgba(var(--iq-rgb-0), 0.8) 0%, rgba(var(--iq-rgb-20), 0.4) 50%, rgba(var(--iq-rgb-light), 0) 100%);
    --iq-card-gredient-bottom: linear-gradient(360deg, var(--iq-black) 4.01%, rgba(var(--iq-rgb-20), 0) 63.61%);
    --iq-global-box-shadow: 0 0 1.875em 0 rgba(var(--iq-rgb-0), .1);
    --iq-card-box-shadow: 0 0 0.75em rgba(var(--iq-rgb-0), 0.9);
    --iq-new-box-shadow: 8px 8px 45px rgba(var(--iq-rgb-0), 0.1);
    --iq-image-shadow: 0 1.25em 2.5em rgba(var(--iq-rgb-0), 0.6);
    --iq-slider-details: linear-gradient(360deg, var(--iq-black) 0%, rgba(var(--iq-rgb-0), 0) 51.04%);
    --iq-slider-details-hover: linear-gradient(0deg, rgba(var(--iq-rgb-20), 0.65), rgba(var(--iq-rgb-20), 0.65)), linear-gradient(360deg, #0C0B11 4.12%, rgba(12, 11, 17, 0) 65.29%);
    --iq-horizontal_thumb_slider-main-bg: linear-gradient(90.3deg, var(--iq-thumb-slider-color) 9.88%, rgba(var(--iq-rgb-18), 0) 31.52%), linear-gradient(266.54deg, var(--iq-thumb-slider-color) 13.29%, rgba(var(--iq-rgb-18), 0) 98.41%);
    --iq-horizontal_thumb_slider-bg: linear-gradient(-270deg, var(--iq-body-bg) 0%, rgba(var(--iq-rgb-20), 0) 100%);
    --iq-thumb-slider-img-bg: linear-gradient(0deg, rgba(var(--iq-rgb-0), 0.8), rgba(var(--iq-rgb-0), 0.8));
    --iq-top-ten-bg: linear-gradient(0deg, rgba(12, 11, 17, 0.9) 0%, rgba(12, 11, 17, 0) 41.03%);
    --iq-bottom-gbg: linear-gradient(0deg, #0C0B11 8.71%, rgba(12, 11, 17, 0) 72.11%);
    --iq-tvshow-bg: linear-gradient(270deg, rgba(var(--iq-rgb-0), 0.5) 0.6%, rgba(var(--iq-rgb-0), 0) 29.9%), linear-gradient(90deg, var(--iq-black) 0%, rgba(var(--iq-rgb-0), 0) 38.52%), linear-gradient(0deg, rgba(var(--iq-rgb-0), 0.7) 0%, rgba(var(--iq-rgb-0), 0) 100%);
    --slider-with-details-bg: linear-gradient(87.53deg, var(--iq-skelation-bg) 13.17%, rgba(var(--iq-rgb-18), 0) 32.74%), linear-gradient(266.54deg, var(--iq-thumb-slider-color) 13.29%, rgba(var(--iq-rgb-18), 0) 98.41%), linear-gradient(273.02deg, var(--iq-thumb-slider-color) 21.88%, rgba(var(--iq-rgb-18), 0) 51.44%);
    --iq-blog-box-border: linear-gradient(270deg, rgba(38, 37, 37, 0) -1.25%, var(--iq-secondary) 43.69%, rgba(38, 37, 37, 0) 99.08%);
}

:root[dir=rtl] {
    --primary-bg-gradiant-lt-rt: transparent linear-gradient(270deg, var(--iq-to-gradient-color) 0%, var(--iq-form-gradient-color) 100%);
    --main-banner-gradiant: linear-gradient(270deg, rgba(var(--iq-rgb-0), 0.9) 0%, rgba(var(--iq-rgb-20), 0.9) 15%, rgba(var(--iq-rgb-light), 0) 100%);
    --show-banner-gradiant: linear-gradient(270deg, rgba(var(--iq-rgb-0), 1) 0%, rgba(var(--iq-rgb-20), 1) 35%, rgba(var(--iq-rgb-light), 0) 100%);
    --iq-border-gredient: linear-gradient(to left, rgba(var(--iq-rgb-border), 0.6), rgba(var(--iq-rgb-border), 0.3), rgba(var(--iq-rgb-border), 0));
    --iq-card-gredient: linear-gradient(270deg, rgba(var(--iq-rgb-0), 0.8) 0%, rgba(var(--iq-rgb-20), 0.4) 50%, rgba(var(--iq-rgb-light), 0) 100%);
    --iq-horizontal_thumb_slider-bg: linear-gradient(270deg, var(--iq-body-bg) 0%, rgba(var(--iq-rgb-20), 0) 100%);
    --iq-tvshow-bg: linear-gradient(-270deg, rgba(var(--iq-rgb-0), 0.5) 0.6%, rgba(var(--iq-rgb-0), 0) 29.9%), linear-gradient(-90deg, var(--iq-black) 0%, rgba(var(--iq-rgb-0), 0) 38.52%), linear-gradient(0deg, rgba(var(--iq-rgb-0), 0.7) 0%, rgba(var(--iq-rgb-0), 0) 100%);
    --slider-with-details-bg: linear-gradient(-87.53deg, var(--iq-skelation-bg) 13.17%, rgba(var(--iq-rgb-18), 0) 32.74%), linear-gradient(-266.54deg, var(--iq-thumb-slider-color) 13.29%, rgba(var(--iq-rgb-18), 0) 98.41%), linear-gradient(-273.02deg, var(--iq-thumb-slider-color) 21.88%, rgba(var(--iq-rgb-18), 0) 51.44%);
}

@media (max-width:767px) {
    :root {
        --font-size-h1: 3.809em;
        --font-size-h2: 2.857em;
        --font-size-h3: 2.169em;
        --font-size-h4: 1.677em;
    }
}