.select2-dropdown {
    border-color: var(--iq-body-border);
    z-index: 99999;
}

.select2-container--open .seasons-dropdown.select2-dropdown--below {
    border-top: 0.063em solid var(--iq-primary);
}

.select2-container--open .seasons-dropdown.select2-dropdown--above {
    border-top: 0.063em solid var(--iq-primary);
}

.select2-results__option {
    font-size: 1.3em;
}

.select2-container .select2-selection--single {
    height: 3.7em;
    line-height: 3.7em;
    border-radius: 0;
    border: 0.0625em solid var(--input-bg) !important;
    background-color: var(--input-bg) !important;
    padding: 0 1em;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: inherit;
    color: var(--iq-body-text);
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 3.7em;
    top: 0;
    right: 0.9em;
    width: 1.5em;
    font-size: 1em;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-width: 0.35em 0.35em 0 0.35em;
    margin-top: 0;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-width: 0 .35em .35em .35em;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    height: 2.188em;
    border-color: var(--iq-body-border);
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: var(--iq-body-text);
    font-size: 1em;
}

.select2-search--dropdown {
    padding: 1em;
    background: var(--iq-body-bg);
    border: 0.0625em solid var(--iq-primary);
    border-bottom: none;
}

.select2-results {
    border-top: none !important;
    background: var(--iq-body-bg);
    border: 0.0625em solid var(--iq-primary);
}

.select2-dropdown {
    border: none;
    border-radius: 0 !important;
}

.select2-container--default .select2-results>.select2-results__options {
    padding: 0.313em 1em;
    max-height: 10.625em;
}

.select2-container--default .select2-results__option--highlighted[aria-selected],
.select2-container--default .select2-results__option--highlighted[data-selected] {
    background-color: transparent;
    color: var(--iq-primary);
}

.select2-container--default .select2-results__option[aria-selected=true],
.select2-container--default .select2-results__option[data-selected=true] {
    background-color: transparent;
    color: var(--iq-primary);
}

.select2-search--dropdown .select2-search__field {
    padding: 0 0.625em;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding: 0;
    font-size: 0.875em;
}

.select2-results__option {
    font-size: 0.875em;
}

.sea-epi .select2-container--default .select2-selection--single .select2-selection__arrow b {
    top: 45%;
}

span.select2-container,
span.select2-container span {
    transition: none !important;
    -moz-transition: none !important;
    -webkit-transition: none !important;
    -o-transition: none !important;
}

.woocommerce .woocommerce-ordering .select2-container .select2-selection--single {
    height: 2.7em;
    line-height: 2.7em;
}

.woocommerce .woocommerce-ordering .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 2.7em;
}

.rtl .select2-container--default .select2-selection--single .select2-selection__arrow {
    right: auto;
    left: .625em;
}