@media(min-width: 1921px) {
    body {
        font-size: 1vw;
    }
    h6 {
        font-size: 1vw;
    }
    .trending-list .title {
        font-size: 1.125em;
    }
    .trending-list .title span {
        font-size: 1vw;
    }
    .btn {
        font-size: var(--global-font-size);
    }
    .sea-epi .select2-container {
        width: 8vw !important;
    }
    .select2-container--bootstrap4 .select2-selection--single,
    .select2-container--bootstrap4 .select2-selection--multiple {
        height: 2vw !important;
    }
    .select2-container .select2-selection--single .select2-selection__rendered {
        line-height: 2vw;
        padding-right: 1.250em;
        padding-left: 0.938em;
    }
    footer.footer-one .widget .textwidget p {
        width: 100%;
    }
    header .navbar-light .navbar-brand img.logo {
        width: 10vw;
    }
    .streamit-ajax-custom-search ul.iq-post li .post-blog {
        padding-top: .5em !important;
        padding-bottom: .5em !important;
    }
    header #datafetch button.hover-buttons {
        padding: .375em .75em;
    }
    footer .app-image img {
        width: 8em;
    }
    .music-play-lists span {
        width: 1.875vw;
        height: 1.875vw;
        line-height: 1.875vw;
    }
    .share-box a {
        margin-right: 0.9375vw;
    }
    .share-box i {
        font-size: 1.125vw !important;
    }
    .wpulike {
        padding: 0.625vw 0;
    }
    .wpulike-heart .wp_ulike_put_image::after {
        font-size: 1.0625vw;
        line-height: 1.375vw;
    }
    .wpulike-heart .wp_ulike_put_image::after {
        width: 1.25vw;
        height: 1.25vw;
    }
    .block-social-info .music-play-lists li a.watch-list,
    .block-social-info .music-play-lists li a.watch-list-not {
        width: 1.875vw;
        height: 1.875vw;
        border-radius: 6.25vw;
        line-height: 1.875vw;
    }
    .blog-button .button-link,
    .comment-respond .form-submit .submit,
    .commentlist .iq-comments-media .reply a {
        padding: 0.625em;
        font-size: var(--font-size-normal);
        line-height: 1.5;
        letter-spacing: 0.094em;
    }
    .blog-button .button-link::before,
    .comment-respond .form-submit .submit::before,
    .commentlist .iq-comments-media .reply a::before,
    .wp-block-button__link::before {
        border: 0.063em solid var(--iq-primary);
    }
    .button-link i {
        margin-left: 0.313em;
    }
    .button-link i {
        font-size: 1.000em;
    }
    .search-form .search-submit {
        height: 3vw;
        width: 3vw;
        font-size: 1.125vw;
    }
    .widget .widget-title {
        font-size: 1.375vw;
    }
    .post-img-holder a {
        height: 4.375vw;
    }
    .post-img-holder {
        width: 5vw;
        margin-right: 1.25vw;
    }
    .iq-widget-menu .iq-post li a.date-widget {
        font-size: 0.75vw;
        margin-bottom: 0.625vw;
    }
    .iq-widget-menu .post-img .post-blog a.new-link h6 {
        line-height: 1.4375vw;
    }
    .iq-widget-menu ul.iq-post li {
        margin-bottom: 1.5vw;
    }
    .widget_categories ul li,
    .widget_archive ul li,
    .widget_pages ul li {
        margin-bottom: 0.9375vw;
    }
    .widget ul li {
        padding-bottom: 0.9375vw;
        margin-bottom: 0.9375vw;
    }
    .widget_categories ul li span,
    .widget.widget_archive ul li span.archiveCount {
        border-radius: 3.125vw;
        width: 1.25vw;
        height: 1.25vw;
        line-height: 1.25vw;
        font-size: 0.75vw;
    }
    .widget.widget_nav_menu ul li a,
    .widget ul.menu li a {
        padding: 0.625vw 0 0.625vw 0.9375vw;
    }
    .widget_tag_cloud ul li a {
        padding: 0.125vw 0.625vw;
    }
    .widget_tag_cloud ul li {
        padding: 0;
        margin: 0.1875vw 0.3125vw 0.1875vw 0;
    }
    .widget.masvideos-movies-widget .masvideos.masvideos-movies .movie .movie__poster,
    .widget.masvideos-tv-shows-widget .masvideos.masvideos-tv-shows .tv-show .tv-show__poster,
    .widget.masvideos-videos-widget .masvideos.masvideos-videos .video .video__poster {
        width: 5vw;
        margin-right: 1.25vw;
    }
    .widget.masvideos-movies-widget .masvideos.masvideos-movies .movie,
    .widget.masvideos-tv-shows-widget .masvideos.masvideos-tv-shows .tv-show,
    .widget.masvideos-videos-widget .masvideos.masvideos-videos .video {
        margin-bottom: 1.5vw;
        padding: 0 0 0.9375vw;
    }
    .widget.masvideos-movies-widget .masvideos.masvideos-movies .movie .movie__title,
    .widget.masvideos-tv-shows-widget .masvideos.masvideos-tv-shows .tv-show .tv-show__title,
    .widget.masvideos-videos-widget .masvideos.masvideos-videos .video .video__title {
        line-height: 1.4375vw;
    }
    textarea {
        height: 9.375vw;
    }
    .comment-respond .comment-reply-title {
        margin-top: 3.125vw;
        margin-bottom: 0.625vw;
    }
    .comment-respond .comment-form-comment {
        margin: 1.875vw 0;
    }
    p.comment-form-cookies-consent,
    .comment-form-author,
    .comment-form-email,
    .comment-form-url {
        margin-bottom: 1.875vw;
    }
    .streamit .elementor-section.elementor-section-boxed>.elementor-container {
        max-width: 71.25vw;
    }
    .streamit .elementor-image img.attachment-large.size-large {
        width: 100%;
    }
    .streamit .elementor-widget-counter .elementor-counter-number-wrapper {
        font-size: 2.5vw !important;
    }
    .streamit .elementor-counter .elementor-counter-title {
        font-size: 1.1875vw;
    }
    #adduser .custom-file-label::after {
        border-left: 0.0625em solid var(--iq-white-light-color);
    }
    .iq-team-section .team-title p {
        border-left: 0.182em solid var(--iq-primary);
        padding: 0.3125vw;
    }
    .iq-title-box {
        margin-bottom: 1.25vw;
    }
    .iq-title-box .iq-title-desc {
        margin-top: 0.625vw;
    }
    .streamit .elementor-icon-wrapper .elementor-icon {
        font-size: 9.375vw !important;
    }
    .streamit .elementor-icon-box-icon .elementor-icon {
        font-size: 3.125vw;
    }
    h3.elementor-icon-box-title>span {
        font-size: 1.5vw;
    }
    .iq-accordion .iq-accordion-details {
        padding: 1.875vw;
    }
    .iq-accordion .iq-accordion-title {
        padding: 1.875vw 4.6875vw 1.875vw 1.875vw;
    }
    .iq-accordion .iq-accordion-block .iq-accordion-title .iq-icon-right>i {
        line-height: 2.1875vw;
    }
    .iq-accordion .iq-accordion-block .iq-accordion-title .iq-icon-right {
        right: 1.875em;
        top: 1.5625em;
        height: 2.1875em;
        width: 2.1875em;
    }
    .content-area.search-page #iq-upcoming-movie .inner-slider .slick-list {
        padding-bottom: 2.5vw;
    }
    .inner-slider .slick-list {
        padding: 0.5vw 0 6.25vw;
    }
    .content-area.search-page #iq-upcoming-movie {
        padding-top: 6.25vw;
    }
    header .iq-usermenu-dropdown .iq-sub-card.setting-dropdown {
        padding: 0.9375vw !important;
    }
    header .iq-usermenu-dropdown .iq-sub-dropdown {
        width: 18.75vw;
    }
    .iq-login-form {
        width: 31.25vw;
    }
    .iq-login-form .input {
        margin-bottom: 0.9375vw;
        height: 2.8125vw;
        line-height: 2.8125vw;
        font-size: 0.875vw;
    }
    p {
        margin: 0.9375vw 0;
    }
    .iq-login-form input[type="checkbox"] {
        margin-top: - 0.25vw;
    }
    .iq-login-form .login-remember {
        margin-bottom: 0.9375vw;
    }
    form.pms-form ul.pms-form-fields-wrapper li .pms-subscription-plan label {
        margin-top: 0.625vw;
        margin-bottom: 0.625vw;
    }
    form.pms-form ul.pms-form-fields-wrapper li label span {
        font-size: 1vw;
    }
    .iq-register form.pms-form ul.pms-form-fields-wrapper li {
        padding: 0 0.9375vw;
    }
    .iq-register button.btn.btn-hover.iq-button {
        margin-top: 1em;
    }
    .trending-info.g-border .slider-ratting {
        margin-top: 0.625vw;
    }
    .share-icons.music-play-lists .iq-like-btn,
    .share-icons.music-play-lists span,
    .share-icons.music-play-lists li span {
        width: 2.1875vw;
        height: 2.1875vw;
        line-height: 2.1875vw;
    }
    .share-icons.music-play-lists li {
        margin: 0 0.9375vw 0 0;
        width: 2.8125vw;
        height: 2.8125vw;
        line-height: 2.8125vw;
    }
    .share-icons.music-play-lists li span i {
        font-size: 0.9375vw;
    }
    .trending-info.g-border .share-icons .share-box {
        left: 2.8125vw;
    }
    .trending-info.g-border {
        padding: 0 0 3.125vw 0;
        margin-bottom: 3.125vw;
        margin-top: 1.875vw;
    }
    .commentlist .comment-content p {
        margin-bottom: 0.625vw;
        margin-top: 0.625vw;
    }
    .wpulike-default .wp_ulike_btn {
        min-height: 1.875vw;
        min-width: 3.125vw;
    }
    .wpulike .wp_ulike_btn {
        width: 1.25vw;
        height: 1.25vw;
    }
    .wpulike-default .count-box {
        font-size: 0.75vw;
        margin-left: 0.5vw;
        line-height: 1.75vw;
        padding: 0 0.625vw;
    }
    .wpulike-default .count-box::before {
        left: -0.3125vw;
        width: 0.3125vw;
        height: 0.3125vw;
    }
    .wpulike-default .wp_ulike_put_image::after {
        width: 1vw;
        height: 1vw;
    }
    .commentlist .iq-comment-metadata {
        font-size: 0.875vw;
        border-left: 0.25vw solid var(--iq-primary);
        padding: 0.625vw 0.625vw 0.625vw 0.9375vw;
    }
    .commentlist .iq-comment-metadata a {
        font-size: 0.875vw;
        margin: 0.3125vw 0;
    }
    .commentlist .iq-comment-metadata a {
        font-size: 0.875vw;
    }
    .commentlist .iq-comment-metadata i {
        padding-right: 0.3125vw;
    }
    .commentlist .iq-comments-photo img {
        width: 5vw;
        border-radius: 5.625vw;
    }
    .commentlist .iq-comments-photo {
        padding-right: 0.9375vw;
    }
    .commentlist .iq-comments-media {
        padding: 1.875vw;
    }
    .iq-button-style-2 {
        font-size: 1vw;
    }
    .wp-video-shortcode {
        height: 31.25vw !important;
    }
    .mfp-iframe-holder .mfp-content {
        max-width: 56.25vw;
    }
    .mfp-iframe-holder .mfp-close {
        top: -2.5vw;
    }
    .mfp-close {
        width: 2.75vw;
        height: 2.75vw;
        line-height: 2.75vw;
        font-size: 1.75vw;
    }
    .m-profile .sign-user_card {
        padding: 1.875vw;
    }
    table td,
    table th {
        padding: 0.31em 0.5em;
    }
    .streamit-reviews #comments ol.commentlist li .comment-text .meta .masvideos-review__published-date {
        font-size: 0.875vw;
        padding-left: 1.563em;
    }
    .streamit-reviews #comments ol.commentlist li .comment-text .meta .masvideos-review__author {
        font-size: 1vw;
    }
    .streamit-reviews #comments ol.commentlist li .comment-text .meta .masvideos-review__published-date::before {
        left: 0.438em;
        width: 0.5em;
        height: 0.125em;
    }
    .streamit-reviews p.stars a::before {
        font-size: var(--global-font-size);
    }
    .streamit-reviews .comment-form-comment {
        margin: 0 0 0.938em 0;
    }
    .streamit-reviews .comment-respond .comment-reply-title,
    .streamit-reviews ul.children {
        margin-top: 1.25em;
    }
    .text-detail .trending-year::before {
        left: 0.813em;
    }
    .text-detail .trending-year {
        padding-left: 1.875em;
    }
    .play-button {
        left: 0.93vw;
        padding-left: 0.31vw;
    }
    .play-button::before,
    .play-button::after {
        width: 3.125em;
        height: 3.125em;
    }
    .play-button i {
        font-size: 1.25vw;
    }
    .favorites-contens.iq-smovie-slider {
        margin-top: 0;
    }
    .music-play-lists .watch-list span {
        line-height: 1.7vw;
    }
    .share-icons.music-play-lists li .iq-like-btn .count-box {
        right: 1em;
        top: 1.5em;
    }
    .favorites-contens.iq-smovie-slider {
        margin-top: 0;
    }
    .share-icons.music-play-lists li .iq-like-btn .count-box:not(.css_prefix_tooltip),
    .share-icons.music-play-lists li .iq-like-btn .css_prefix-count-box {
        right: 0;
        top: 1em;
        width: 0.8vw;
        height: 0.8vw;
        line-height: 0.8vw;
    }
    .share-icons.music-play-lists li .iq-like-btn .css_prefix_tooltip.count-box {
        left: 2.8em;
        top: 0.3em;
    }
    .css_prefix-image-box.style-three .css_prefix-image-box-img img {
        width: 18.6875em;
    }
}

@media (min-width:992px) {
    header .navbar ul li:hover>.sub-menu {
        display: block !important;
        animation: fade-in 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    }
    header .navbar ul li:hover>a,
    header .navbar ul li:hover>i {
        color: var(--iq-primary);
        text-decoration: none;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media screen and (max-width:1920px) and (min-width:1600px) {
    footer.footer-one .widget .textwidget p {
        width: 46.875em;
    }
}

@media (min-width:1300px) {
    .container {
        max-width: 73.125em;
    }
}

@media (min-width:1499px) {
    .container {
        max-width: 75em;
    }
}

@media(min-width: 1920px) {
    .container {
        max-width: 90em;
    }
}

@media screen and (min-width:1200px) {
    header .navbar ul li .sub-menu li a,
    header.menu-sticky .navbar ul li .sub-menu li a {
        white-space: nowrap;
    }
}

@media (max-width: 1366px) {
    header .navbar ul li {
        margin-right: 1.5em;
    }
}

@media (max-width:1200px) {
    .video-container.iq-main-slider iframe {
        height: 60vh;
    }
    .css_prefix_content_restriction {
        height: 60vh;
    }
    header .navbar ul li.menu-item a {
        padding: 0;
    }
    header .navbar ul li {
        margin-right: 0.9375em;
    }
    .iq-register {
        height: 100%;
        position: relative !important;
        min-height: 100vh;
    }
    .iq-register .elementor-shortcode {
        height: 100%;
        display: flex;
    }
}

@media (max-width:1199px) {
    form.pms-form ul.pms-form-fields-wrapper li {
        list-style: none;
    }
    .single.single-product:not(.iqonic-header-under) .content-area .site-main {
        padding-top: 7.25em;
    }
    .pms-account-navigation li.pms-account-navigation-link {
        margin-right: 0;
    }
    .pms-account-navigation li.pms-account-navigation-link a {
        padding: 0.75em 1.375em;
    }
    .iq-register {
        height: 100%;
        position: relative !important;
    }
    .iq-register .elementor-shortcode {
        height: 100%;
        display: flex;
    }
}

@media (max-width:1199px) and (min-width:480px) {
    .iq-ajax-search .search-box {
        min-width: 350px;
    }
}

@media (min-width:992px) {
    header .navbar-brand {
        z-index: 9;
    }
    header .sub-main {
        margin-left: auto;
    }
    .search-box {
        left: auto !important;
        right: 0 !important;
    }
}

@media(max-width:1024px) {
    .continue-watching-slider .slick-list {
        margin-bottom: 3.125em !important;
    }
    .single.single-product:not(.iqonic-header-under) .content-area .site-main {
        padding-top: 5.25em;
    }
    .person-template-default header#main-header+.site-content-contain {
        padding-top: 2.1875em;
    }
    .iq-team-section {
        margin: 0 auto;
    }
    .container-fluid {
        padding-left: 1.875em;
        padding-right: 1.875em;
    }
    .single-episode-space {
        margin-bottom: 2.5em;
    }
    .bottom-space {
        padding-bottom: 3.125em;
    }
    .height-100 {
        padding-top: 3.125em;
    }
    .content-area .site-main {
        padding: 5.125em 0;
    }
    .css_prefix-banner-hide .content-area .site-main {
        padding: 9.25em 0 3.125em !important;
    }
    .inner-slider .slick-list {
        padding: 0 0 3.125em;
    }
    .iq-blog-box {
        margin-bottom: 1.875em;
        padding-bottom: 1.25em;
    }
    .content-area.search-page #iq-upcoming-movie {
        padding-top: 3.125em;
    }
    .home.blog .content-area .site-main {
        padding: 3.125em 0;
    }
    .iq-contact-data {
        padding: 0 0 3.125em 0;
    }
    form.pms-form ul.pms-form-fields-wrapper li {
        width: 50%;
        margin-bottom: 0.9375em;
    }
    .iq-register form.pms-form ul.pms-form-fields-wrapper li {
        width: 100%;
    }
    .wp-video-shortcode,
    .video-container.iq-main-slider iframe {
        height: 50vh !important;
    }
    .css_prefix_content_restriction {
        height: 50vh;
    }
}

@media(max-width:991px) {
    .iq-title br {
        display: none;
    }
    .css_prefix-go-back a.css_prefix-back-btn {
        display: block;
    }
    #iq-topten .iq-title {
        text-align: center;
        left: 0;
        font-weight: var(--font-weight-medium);
        right: 0;
    }
    .video-container.iq-main-slider iframe {
        height: 50vh;
    }
    .admin-bar header#main-header.menu-sticky {
        top: 0 !important;
    }
    header#main-header.menu-sticky {
        position: fixed !important;
        z-index: 99999;
    }
    header .navbar .navbar-nav li:last-child .sub-menu li:hover>.sub-menu,
    header .navbar .navbar-nav li:nth-last-child(2) .sub-menu li:hover>.sub-menu {
        left: 0;
        right: 100%;
    }
    header .navbar-light .navbar-brand img.logo {
        width: 6.5em;
    }
    .mobile-more-menu {
        display: block;
    }
    .menu-right {
        display: none;
    }
    header .navbar-brand {
        padding: 15px 0;
        margin-right: 0;
    }
    .more-menu .iq-sub-dropdown {
        width: 90%;
        margin: 0 auto;
        left: 0;
        right: 0;
        top: 3.75em;
    }
    .mobile-more-menu .iq-user-dropdown img {
        width: 2.5em;
    }
    .iq-search-bar .search-input {
        background: var(--iq-body-bg);
        color: var(--iq-body-text);
        box-shadow: 0 0.1875em 0.625em rgba(var(--iq-rgb-0), 0.75);
    }
    .navbar-right li {
        position: static !important;
    }
    .main-header {
        padding: 0.625em 0;
    }
    .vertical_s {
        display: none;
    }
    .r-mt-15 {
        margin-top: 0.9375em;
    }
    header .navbar ul li {
        display: block
    }
    header .navbar ul li.menu-item a {
        line-height: 0.625em;
        float: left;
        width: 100%;
        text-align: left;
        padding: 0.625em 1.875em;
    }
    button.navbar-toggler.c-toggler {
        color: var(--iq-white-color);
        position: absolute;
        left: auto;
        right: 5em;
        border: none;
    }
    header.style-one .navbar-light .navbar-toggler-icon {
        background-image: none;
        position: relative;
    }
    header.style-one .navbar-light .navbar-toggler-icon i {
        line-height: 0;
        font-size: 2.5em;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
    }
    .iq-img-height {
        height: 100%;
        position: relative !important;
    }
    .iqonic-user-forms {
        height: 100%;
        margin: 2.5em 0;
    }
    .block-images .block-social-info {
        display: none;
    }
    header .navbar ul li.menu-item:hover>a,
    header .navbar ul li.menu-item:hover>i {
        color: var(--iq-white-color);
    }
    header.menu-sticky .navbar ul li .sub-menu li:hover>.sub-menu {
        top: 0px;
    }
    header .navbar ul li .sub-menu,
    header .navbar ul li:hover .sub-menu {
        display: none;
        background: var(--iq-body-bg);
        position: relative;
        top: 0;
        width: 100%;
        padding: 0.625em;
        z-index: 9;
    }
    header .navbar ul li .sub-menu li:hover>.sub-menu {
        top: 0;
    }
    header .navbar ul li .sub-menu li {
        padding: 0px;
    }
    header .navbar ul.sub-menu li {
        padding: 0;
    }
    .iq-sidearea-btn-container {
        display: none;
    }
    header .main-header,
    header.style-one .sub-header,
    .admin-bar header.menu-sticky .main-header {
        padding: 0 0.9375em;
    }
    header .navbar ul li {
        margin-right: 0.625em;
    }
    header .iq-button-style-2,
    header .iq-button-style-1 {
        display: none;
    }
    header .iq-mobile-main {
        display: block;
    }
    header .iq-mobile-main .iq-button-style-2,
    header .iq-mobile-main .iq-button-style-1 {
        display: inline-block;
    }
    header .iq-mobile-main {
        background-color: var(--iq-white-color);
        padding: 0.9375em;
    }
    header .navbar-light {
        align-items: center;
    }
    header.style-vertical .navbar ul li.current-menu-item a,
    header.style-vertical .navbar ul li a:hover {
        background: inherit;
    }
    header.style-vertical .navbar ul li i {
        padding: 0;
    }
    header.style-vertical .navbar ul.navbar-nav,
    header.style-vertical .menu-main-menu-container {
        max-height: inherit;
    }
    header .navbar ul li .sub-menu,
    header .navbar ul li:hover .sub-menu {
        display: none;
        background: var(--iq-body-bg);
        position: relative;
        top: 0;
        width: 100%;
        padding: 0.625em;
        z-index: 9;
    }
    header .navbar ul li .sub-menu li:hover>.sub-menu {
        width: 100%;
        background: var(--iq-body-bg);
        position: relative;
        left: 0;
        box-shadow: none;
        padding: 0.625em;
    }
    header .navbar ul.navbar-nav {
        overflow-y: scroll;
        overflow-x: hidden;
        max-height: 21.875em;
        float: left;
        display: inline-block;
        width: 100%;
        background: var(--iq-body-bg);
    }
    header .navbar ul li:hover .sub-menu {
        box-shadow: none;
    }
    header .main-header,
    header.style-one .sub-header,
    .admin-bar header.menu-sticky .main-header {
        padding: 0.625em 0.9375em;
    }
    header.style-one.style-two ul li .sub-menu,
    header.style-one.style-two .navbar ul li:hover .sub-menu {
        background: var(--body-text);
    }
    header.menu-sticky .main-header {
        padding: 0.625em 0.9375em;
    }
    header .navbar ul li .sub-menu li:hover>.sub-menu,
    header .navbar .navbar-nav li .sub-menu li:hover>.sub-menu {
        padding: 0.625em;
    }
    header .main-header {
        z-index: 99;
    }
    header .navbar .sub-main .blue-btn.button {
        right: 4.375em;
        position: relative;
    }
    header .navbar-light .navbar-toggler {
        background: var(--iq-primary);
        color: var(--iq-white-color);
        border-color: var(--iq-primary);
        padding: 0.1rem;
        position: absolute;
        right: 0px;
    }
    header.style-one .navbar-light .navbar-toggler {
        right: 0px;
        border-radius: 0;
    }
    header .navbar-light .navbar-toggler:focus {
        outline: none
    }
    header .navbar-collapse {
        position: absolute;
        top: 4.375em;
        line-height: 0;
        left: 0;
        display: inline-block;
        width: 100%;
    }
    header.menu-sticky .navbar-collapse {
        top: 4.375em;
    }
    header.style-one.style-two .navbar ul,
    header.style-one.style-two {
        background: var(--iq-primary);
    }
    header .navbar>ul {
        float: left;
        display: inline-block;
        width: 100%;
        background: var(--iq-white-color);
    }
    header .navbar ul li.menu-item a {
        line-height: normal;
    }
    header .navbar ul li,
    header .navbar ul.sub-menu li {
        margin-right: 0;
        display: inline-block;
        position: relative;
        width: 100%;
    }
    header .navbar ul li>a,
    header .navbar ul li.menu-item a {
        font-size: 1.125em;
        padding: 0.9375em;
        z-index: inherit;
        text-align: left;
        font-weight: normal;
    }
    header .navbar ul li a:before {
        border-radius: 0
    }
    header .navbar ul li i {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        padding: 12px 15px 12px 0;
        line-height: 28px;
        font-size: 16px;
        z-index: 9;
        color: var(--iq-white-color);
        transition: all 0.3s ease-in-out;
    }
    header .navbar ul li .iq-search-bar i {
        padding: 0;
        font-size: inherit;
        line-height: inherit;
    }
    header .navbar ul li.current-menu-item i,
    header .navbar ul li.current-menu-parent i {
        color: var(--iq-white-color);
    }
    header.menu-sticky .main-header .navbar ul li a {
        line-height: normal;
        text-align: left;
    }
    header.menu-sticky .main-header .navbar ul li:hover .sub-menu {
        top: 0
    }
    header .navbar ul li .sub-menu li i {
        top: 0;
        right: 0;
        color: var(--iq-primary);
        font-size: 1.25em;
        padding: 0.5em 0.9375em;
        transform: inherit;
    }
    header .navbar ul li .sub-menu li:hover>.sub-menu {
        width: 100%;
        position: relative;
        left: 0;
        box-shadow: none;
        padding: 0px;
        background: var(--iq-body-bg);
    }
    header .navbar .sub-main .iq-usermenu-dropdown {
        margin-right: 1em;
    }
    header .navbar .sub-main {
        display: flex;
        align-items: center;
    }
    header .navbar .sub-main .iq-usermenu-dropdown ul.d-flex.align-items-center {
        background: transparent;
        float: inherit;
    }
    header .navbar .sub-main .iq-usermenu-dropdown ul.d-flex.align-items-center li i {
        position: inherit;
    }
    header .navbar .sub-main .iq-usermenu-dropdown ul.d-flex.align-items-center li .search-form .search-submit i {
        position: static;
    }
    header .navbar ul li .sub-menu li .sub-menu li.menu-item a {
        background: transparent;
    }
    .iq-breadcrumb-two>h2 {
        font-size: 2.7em;
    }
    .sidebar-service-right {
        margin-top: 3.125em;
    }
    .banner-wrapper .trending-info .trending-dec {
        width: 70%;
    }
    form.pms-form ul.pms-form-fields-wrapper li {
        width: 100%;
    }
    form#pms-retry-payment-subscription-form {
        width: 70%;
    }
    .single.single-product .content-area .site-main {
        padding-top: 6.25em;
    }
    .wp-video-shortcode:not(.mejs-container-fullscreen .wp-video-shortcode) {
        height: auto !important;
        aspect-ratio: 16/9;
    }
}

@media only screen and (max-width: 601px) {
    body.admin-bar header.no-header-layout,
    body.admin-bar.css_prefix-default-header header {
        top: 2.875em;
    }
}

@media only screen and (min-width: 601px) and (max-width: 782px) {
    body.admin-bar .has-sticky.header-up,
    body.admin-bar header,
    body.admin-bar.css_prefix-default-header header {
        top: 2.875em;
    }
}

@media (max-width:767px) {
    .row {
        margin-left: -0.469em;
        margin-right: -0.469em;
    }
    .col,
    .col-1,
    .col-10,
    .col-11,
    .col-12,
    .col-2,
    .col-3,
    .col-4,
    .col-5,
    .col-6,
    .col-7,
    .col-8,
    .col-9,
    .col-auto,
    .col-lg,
    .col-lg-1,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9,
    .col-lg-auto,
    .col-md,
    .col-md-1,
    .col-md-10,
    .col-md-11,
    .col-md-12,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-auto,
    .col-sm,
    .col-sm-1,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9,
    .col-sm-auto,
    .col-xl,
    .col-xl-1,
    .col-xl-10,
    .col-xl-11,
    .col-xl-12,
    .col-xl-2,
    .col-xl-3,
    .col-xl-4,
    .col-xl-5,
    .col-xl-6,
    .col-xl-7,
    .col-xl-8,
    .col-xl-9,
    .col-xl-auto {
        padding-left: 0.469em;
        padding-right: 0.469em;
    }
    .watchlist-contens .block-images {
        margin-bottom: 0.938em;
    }
    .pms-account-subscription-details-table,
    .pms-table,
    .iq-register .elementor-shortcode {
        overflow-x: scroll;
    }
    .iq_comment_block {
        padding-bottom: 4.375em;
    }
    .iq-accordion .iq-accordion-block .iq-accordion-title .iq-icon-right {
        right: 1.25em;
    }
    .height-100 {
        padding-top: 1.875em;
    }
    .content-area .site-main {
        padding: 1.875em 0;
    }
    .css_prefix-banner-hide .content-area .site-main {
        padding: 5.25em 0 1.875em !important;
    }
    .css_prefix-banner-hide .header-over .content-area .site-main {
        padding: 4.25em 0 !important;
    }
    .inner-slider .slick-list {
        padding: 0 0 1.875em;
    }
    .iq-breadcrumb-two>h2 {
        font-size: 2.1em;
    }
    .iq-reply.iq-button-style-2 {
        position: relative;
        margin-top: 0.625em;
    }
    .container-fluid {
        padding-left: 0.9375em;
        padding-right: 0.9375em;
    }
    .iq-accordion .iq-accordion-title {
        padding: 0.9375em 4.0625em 0.9375em 0.9375em;
    }
    .iq-accordion .iq-accordion-details {
        padding: 0.9375em;
    }
    .iq-login-form {
        width: 100%;
        padding: 2em;
    }
    .block-images .block-social-info {
        display: none !important;
    }
    .iq-main-header {
        margin-bottom: 0.625em;
    }
    #iq-topten .iq-title {
        top: 1.25em;
        font-size: 1.25em;
        text-align: center;
    }
    .single-episode-space {
        margin-bottom: 0;
    }
    .bottom-space {
        padding-bottom: 1.875em;
    }
    .banner-caption,
    .overlay-s-name {
        left: 1.875em;
    }
    .banner-wrapper .trending-info .trending-dec {
        width: 80%;
    }
    .trending-info.g-border {
        padding: 0 0 1.875em 0;
        margin-bottom: 1.875em;
    }
    .watchlist-contens .block-images:before {
        border-left: 0.15em solid var(--iq-primary);
    }
    .watchlist-contens .block-images:hover {
        transform: scale3d(1.1, 1.1, 1) translate3d(6%, 0, 0) perspective(31.25em);
    }
    .movie-detail .trending-info {
        padding: 1.875em 0 0;
    }
    .video-container.iq-main-slider iframe {
        height: 40vh;
    }
    .content-area.search-page #iq-upcoming-movie {
        padding-top: 1.875em;
    }
    .home.blog .content-area .site-main {
        padding: 1.875em 0;
    }
    footer.footer-one .footer-top {
        padding-top: 1.875em;
        padding-bottom: 1.875em;
    }
    .iq-contact-data {
        padding: 0 0 1.875em 0;
    }
    .iq-contact-data .iq-contact-list {
        border: none;
        margin-bottom: 1.875em;
    }
    .iq-counter-block .iq-counter-data {
        border: none;
    }
    footer.footer-one .widget .textwidget p {
        width: 100%;
    }
    .iq-title-box .iq-title-desc br {
        display: none;
    }
    form#pms_login {
        width: 100%;
    }
    .single-tv_show .banner-caption {
        right: 1.875em;
    }
    #home .home-slider .slick-bg {
        height: 28.125em;
    }
    #home .home-slider .slick-bg :is(.channel-logo) {
        display: none;
    }
    .streamit-reviews .comment-form .comment-form-rating>label {
        display: unset;
    }
    .streamit-reviews .comment-form-rating {
        display: block;
    }
    .streamit-reviews p.comment-notes {
        width: 100%;
    }
    .streamit-reviews .comment-form-author,
    .streamit-reviews .comment-form-email {
        width: 100%;
        padding: 0;
        margin-bottom: 0.9375em;
    }
    .single-tv_show .playbtn_thumbnail {
        display: none;
    }
    form#pms-retry-payment-subscription-form {
        width: 100%;
    }
    .iq-register form.pms-form {
        padding: 1em;
        margin: 1.875em 1em;
    }
    .wp-video-shortcode,
    .video-container.iq-main-slider iframe {
        height: 30vh !important;
    }
    .css_prefix_content_restriction {
        height: 30vh;
    }
    .product-grid-style .iq-main-header {
        padding: 0 1em;
    }
    .form-search input::-webkit-input-placeholder,
    .search__input {
        font-size: var(--font-size-h5);
    }
    .widget_search .search__form .search__input {
        font-size: var(--font-size-normal);
    }
    .iq-user-dropdown.search-toggle .iq-avater {
        height: 2em;
        width: 2em;
        min-width: 2em;
        line-height: 2em;
    }
    .iq-search-bar .search__input {
        font-size: var(--font-size-normal);
    }
    .iq-user-dropdown.search-toggle {
        margin: 0;
    }
    .header-over .iq-breadcrumb-one {
        padding: 2em 0;
    }
    .css_prefix-next-episode .css_prefix-next-episode-box a svg {
        width: 3em;
        height: 3em;
    }
    .css_prefix-next-episode {
        height: 9em !important;
        width: 11rem !important;
    }
    .css_prefix-preogress::after {
        display: none;
    }
    .continue-watching-slider .slick-list {
        margin-bottom: 1.875em !important;
    }
}

@media (max-width: 600px) {
    header .sub-header {
        display: none;
    }
    /* Static adminbar (Not sticky)*/
    body.admin-bar .has-sticky.header-up {
        top: 0;
    }
    .admin-bar.css_prefix-custom-header header.iq-layout-header,
    body.admin-bar header {
        top: 46px;
    }
    .admin-bar.css_prefix-custom-heade.iqonic-header-under header.iq-layout-header {
        top: 0;
    }
    nav.pms-account-navigation {
        margin-bottom: 0;
    }
}

@media (min-width:576px) {
    .iq-search-bar a.search-toggle {
        display: none;
    }
}

@media (max-width:700px) {
    .pms-account-navigation li.pms-account-navigation-link {
        margin-bottom: 1.875em;
    }
    .pms-account-navigation li.pms-account-navigation-link a {
        margin: inherit;
    }
    .search-box {
        min-width: 21rem;
    }
}

@media(max-width: 575px) {
    .progress {
        height: 1.5em;
        width: 1.5em;
        line-height: 1.5em;
    }
    .progress .title {
        font-size: .55em;
    }
    li.slide-item .cast-images .img-box {
        height: auto;
    }
    li.slide-item .cast-images {
        display: block;
    }
    li.slide-item .cast-images .block-description {
        position: absolute;
        top: auto;
        z-index: 999;
        display: flex;
        justify-content: center;
        flex-direction: column;
        left: 0;
        bottom: 0.9375em;
        padding: 0 0.4375em;
    }
    li.slide-item .cast-images::before {
        z-index: 1;
        background: -moz-linear-gradient(top, rgba(var(--iq-rgb-0), 0) 0%, rgba(var(--iq-rgb-0), 1) 99%, rgba(var(--iq-rgb-0), 1) 100%);
        background: -webkit-linear-gradient(top, rgba(var(--iq-rgb-0), 0) 0%, rgba(var(--iq-rgb-0), 1) 99%, rgba(var(--iq-rgb-0), 1) 100%);
        background: linear-gradient(to bottom, rgba(var(--iq-rgb-0), 0) 0%, rgba(var(--iq-rgb-0), 1) 99%, rgba(var(--iq-rgb-0), 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#000000', GradientType=0);
    }
    .single-tv_show .trailor-video.trailer-play-btn {
        bottom: 0;
    }
    .single-tv_show .trailor-video.trailer-play-btn>a {
        padding: 0 0 0 0.9375em;
    }
}

@media (max-width:479px) {
    .cast-person-list table .image {
        width: 10%;
    }
    form#pms_login,
    form#loginform {
        padding-left: 1.875em;
        padding-right: 1.875em;
    }
    header .avatar-40,
    header .header-user-rights .rounded-circle {
        height: 1.5em;
        width: 1.5em;
        min-width: 1.5em;
        line-height: 1.5em;
    }
    .cast-detail-main-content .trending-pills.nav-pills .nav-item a {
        margin: 0 0.3125em;
    }
    header .navbar ul li.list-inline-item a {
        padding-left: 1.25em;
        padding-right: 1.25em;
    }
    header .navbar .iq-usermenu-dropdown>ul>li {
        position: static;
    }
    .search-box {
        left: 0;
        right: 0;
        min-width: 100%;
        width: 100%;
    }
    .iq-ajax-search .search-box {
        position: absolute;
        width: 260px;
        right: -20px;
        left: auto;
        top: 5.1em;
    }
    .iq-ajax-search .search-box .search__form {
        margin: 0 1em;
    }
    header .iq-usermenu-dropdown .iq-sub-dropdown {
        width: 15.625em;
    }
    .banner-caption,
    .overlay-s-name {
        left: 0.9375em;
    }
    .tvshows-slider .slick-slide img {
        height: 50vh;
    }
    .tvshows-slider .slick-slide .imdb-logo img {
        height: auto;
    }
    .banner-wrapper .trending-info .trending-dec {
        display: none;
    }
    .banner-wrapper {
        height: 70vh;
    }
    .iq-breadcrumb-two>h2 {
        font-size: 1.9em;
    }
    .trending-pills.nav-pills .nav-item a {
        margin: 0 0.625em;
    }
    .page-numbers li .page-numbers {
        height: 2.1875em;
        width: 2.1875em;
        line-height: 2.1875em;
    }
    .single-tv_show .banner-caption {
        right: 0.9375em;
    }
    .single-tv_show .trailor-video.trailer-play-btn>a {
        padding: 0;
    }
    .page-numbers {
        flex-wrap: wrap;
        margin: 0.0625em;
    }
    #woosq-popup .single-product .product {
        display: flex;
        flex-direction: column;
    }
    header .menu-btn .line {
        width: 20px;
        margin: 2px auto;
    }
    ul.trending-pills.d-flex,
    ul.trending-pills-header.d-flex {
        flex-direction: column;
    }
    .css_prefix_cast_crew ul.trending-pills.d-flex {
        flex-direction: unset;
    }
    .iq-persons .iq-cast-body {
        padding: 1em;
    }
    .iq-persons .iq-cast-body>.iq-person-heading .iq-title {
        font-size: .8em;
    }
    .iq-persons .iq-person-cat-item:first-child {
        font-size: 0.7em;
    }
    h1 {
        font-size: 1.5em;
        word-break: break-word;
    }
    .streamit-ajax-custom-search ul.iq-post li .post-img img {
        width: 80%;
    }
    .streamit-ajax-custom-search .post-img-holder {
        margin-right: 0;
    }
    #woosq-popup .woocommerce div.product form.cart .group_table td {
        text-align: center;
    }
    form.pms-form ul.pms-form-fields-wrapper li .pms-subscription-plan label {
        display: inline-block;
    }
    .iq-register form.pms-form ul.pms-form-fields-wrapper li input[type=radio],
    form.pms-form .pms-form-fields-wrapper .pms-subscription-plan label input[type=radio],
    form.pms-form ul.pms-form-fields-wrapper li input[type=radio] {
        display: inline-block;
        vertical-align: middle;
    }
    .css_prefix-next-episode .css_prefix-next-episode-box h6 {
        display: none;
    }
    .css_prefix-next-episode {
        height: 5em !important;
        width: 11em !important;
    }
    .mejs-overlay-button {
        scale: .5;
    }
    .css_prefix-video-continue-watch .continue-watch-model-btn-wrapper {
        gap: .5em;
    }
    .continue-watch-model-btn-wrapper .iq-button.btn {
        padding: 0.75em 0.5em;
        font-size: var(--font-size-small);
    }
    .css_prefix-video-continue-watch .continue-watch-model-btn-wrapper button {
        width: 100%;
    }
}

@media(max-width:620px) {
    form#pms_recover_password_form {
        padding: 1.875em;
        width: 80%;
    }
}

@media(max-width:991px) and (min-width:480px) {
    .header-search-right .search-box {
        min-width: 350px;
    }
}

@media(max-width: 380px) {
    .video-container.iq-main-slider iframe {
        height: 28vh;
    }
    header .navbar .sub-main .iq-usermenu-dropdown ul {
        padding-left: 0;
    }
    header .navbar .sub-main .iq-usermenu-dropdown .dropdown-menu-mini-cart .widget_shopping_cart_content ul {
        padding-left: 0em;
    }
    header .sub-main .iq-usermenu-dropdown ul li a {
        line-height: initial;
    }
    header .sub-main .iq-usermenu-dropdown ul li a i {
        font-size: var(--global-font-size);
    }
}

@media (max-width: 649px) {
    .source-list-content .sources-table .trending-pills .iq-button {
        padding: 0.5em;
    }
    .source-list-content .sources-table .trending-pills .iq-button span {
        display: none;
    }
    .source-list-content .sources-table .trending-pills .iq-button i {
        margin: 0 0.5em;
    }
}

@media screen and (max-width:1280px) and (min-width:1200px) {
    .widget-nav-menu .navbar.deafult-header ul li:first-child {
        margin-left: 2.5em;
    }
}