.css_prefix-screenshot {
    margin-bottom: 3.125em;
}

.css_prefix-swiper .swiper-button-next::after,
.css_prefix-swiper .swiper-button-prev::after {
    content: none;
}

.css_prefix-swiper .swiper-lazy-preloader {
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
    margin: unset;
    border-radius: unset;
    background-image: url(../images/src/redux/placeholder_250*630.jpg);
}